@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-italianno: "Italianno", cursive;
  --font-body: "Inter", system-ui, sans-serif;
}
